/* Projects */
.projects {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.heading {
  padding: 20px;
}

.works {
  width: 100vw;
  display: flex; /* Fix: Enables flexbox for proper centering */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Prevents overflow */
}

.works img {
  width: 50vw;
  height: 70vh;
  margin: 10px;
  max-width: 100%; /* Ensures images don’t overflow */
  object-fit: cover; /* Ensures images maintain proportions */
}
